@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

$dotSize: $size_3;

.EventCalendarMarker {
  white-space: nowrap;
  position: relative;
  //transform: translateX(-10px);
}

.EventDot {
  position: absolute;
  left: calc(50% - (#{$dotSize} / 2));
  top: calc(50% - (#{$dotSize} / 2));
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.eventTitle {
  position: absolute;
  top: calc(50% - 30px);
  left: -2px;
  white-space: nowrap;
  user-select: none;
}