@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.eventContainer {
  display: flex;
  align-items: center;
  height: 60px;
}

.eventMarker {
  width: $size_4;
  height: $size_4;
  border-radius: 50%;
  white-space: nowrap;
  position: absolute;
}

.eventTitle {
  white-space: nowrap;
  position: absolute;
  top: -20px;
  user-select: none;
}