@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.slideBase {
}

.isContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.isSlide {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: $bradius_1;
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;

  > div:not(.segmentLabel) {
    display: grid;
    grid-auto-rows: 50px;
    padding-top: $size_6;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      border-right: solid 1px rgba(0, 0, 0, 0.5);
      transform: translate(-50%);
    }
  }
}

.segmentLabel {
  position: absolute;
  font-weight: 600;
  background-color: $color-neutral-0;
  margin: 2px;
  border-radius: $bradius_1;
  padding: 2px 5px;

  > div {
    user-select: none;
  }
}
