@import "../../../styles/sizes";
@import "../../../styles/colors";
@import "../../../styles/zIndex";
@import "../../../styles/radius";

.calendarLabel {
  > div {
    user-select: none;
  }
}

.timePeriod {
  text-transform: capitalize;
}

.calendarTimePeriod {
  position: absolute;
  display: flex;
  align-items: center;
  right: $size_4;
  top: -$size_4;
  z-index: $zi4;
  border-radius: $bradius_1 $bradius_1 0 0;
  background-color: $color-white;
  padding: 2px 5px;
}