@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.eventMarker {
  white-space: nowrap;
  position: relative;
  transform: translateX(-10px);
}

.eventDot {
  width: $size_4;
  height: $size_4;
  border-radius: $size_2;
  position: absolute;
}

.eventTitle {
  white-space: nowrap;
  position: absolute;
  top: -20px;
  user-select: none;
}