@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.eventMarker {
  white-space: nowrap;
  position: relative;
  //transform: translateX(-10px);
}

.eventDot {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: $size_4;
  height: $size_4;
  border-radius: $size_2;
}

.eventTitle {
  position: absolute;
  top: calc(50% - 30px);
  left: -2px;
  white-space: nowrap;
  user-select: none;
}