@import "../../../styles/shadows";
@import "../../../styles/zIndex";
@import "../../../styles/colors";
@import "../../../styles/sizes";
@import "../../../styles/radius";

.navigationContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zi2;
}

.desktopNav {
  box-shadow: $shadow_1;
  display: flex;
  position: absolute;
  z-index: $zi1;
  right: $size_4;
  top: $size_4;
  background-color: white;
  padding: $size_2;
  border-radius: $bradius_1;

  a {
    color: $color-text;
    margin: 0 $size_2;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}

.logInBtn {
  margin-left: $size_2;
}