@import "../../../styles/shadows";
@import "../../../styles/zIndex";
@import "../../../styles/colors";
@import "../../../styles/sizes";
@import "../../../styles/radius";

.container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zi1;
}

.desktopNav {
  box-shadow: $shadow_1;
  display: flex;
  position: absolute;
  z-index: $zi1;
  right: 40px;
  top: 40px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  padding: $size_2;
  border-radius: $bradius_1;

  a {
    color: $color_1;
    margin: 0 $size_2;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}