@import "../../../../styles/radius";
@import "../../../../styles/shadows";
@import "../../../../styles/sizes";
@import "../../../../styles/colors";

.Track {
  //position: absolute;
  //bottom: $size_1;
  margin-left: $size_2;
  width: 80px;
  height: 40px;
}

.Menu {
  //position: relative;
  //cursor: grab;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemInner {
  background-color: $color-primary;
  border-radius: $bradius_1;
  display: flex;
  align-items: center;
  width: 100%;

  > p {
    text-align: center;
    width: 100%;
  }
}
