@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.util1 {
}

.p1 {
}

.header1 {
  font-width: 600;
}

.label1 {
  color: #959aa2;
  font-weight: 500;
  font-size: 13px;
}

.label2 {
  color: #959aa2;
  font-weight: 500;
  font-size: 15px;
}

.colorDark {
  color: $color-neutral-900;
}

.colorLight {
  color: $color-neutral-10;
}
