@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.util1 {
}

.p1 {
}

.p2 {

}

.p3 {
  font-weight: 500;
  font-size: 18px;
}

.header1 {
  font-weight: 600;
}

.label1 {
  color: $color-neutral-600;
  font-weight: 500;
  font-size: 13px;
}

.label2 {
  color: $color-neutral-600;
  font-weight: 500;
  font-size: 15px;
}

.label3 {
  color: $color-neutral-60;
  font-weight: 400;
  font-size: 11px;
}

.colorDark {
  color: $color-neutral-900;
}

.colorLight {
  color: $color-neutral-10;
}
