@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.util1 {
}

.p1 {
}

.header1 {
  font-width: 600;
}

.colorDark {
  color: $color-neutral-900;
}

.colorLight {
  color: $color-neutral-10;
}
