@import "../../../styles/sizes";
@import "../../../styles/colors";
@import "../../../styles/zIndex";
@import "../../../styles/radius";

.calendarDateLabel {
  position: absolute;
  z-index: $zi4;
  top: -$size_4;
  left: 20px;
  display: flex;
  align-items: center;
  border-radius: $bradius_1 $bradius_1 0 0;
  background-color: $color-white;
  padding: 2px 5px;
}