@import "../../../styles/zIndex";
@import "../../../styles/sizes";
@import "../../../styles/shadows";

.searchContainer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: $zi1;
  background-color: white;
  box-shadow: $shadow_1;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  > input {
    width: 100%;
    height: 100%;
    border: none;
    padding: $size_2 $size_3;

    &:focus {
      outline:0;
    }
  }
}

