@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/shadows";
@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/colors";

.menuContainerBase {
  position: fixed;
  bottom: 60px;
  right: $size_2;
  z-index: $zi2;
}

.menuButtonBase {
  position: relative;
  width: $size_BUTTON;
  height: $size_BUTTON;
  background-color: $color-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow_1;
  cursor: pointer;
  z-index: $zi3;
}

.menuItemBase {
  position: absolute;
  background-color: $color-white;
  padding: $size_1 $size_2;
  border-radius: $bradius_1;

  > a {
    font-size: 12px;
  }
}
