@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/shadows";
@import "../../../styles/sizes";
@import "../../../styles/zIndex";

.menuContainerBase {
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: $zi2;
}

.menuButtonBase {
  position: relative;
  width: $size_BUTTON;
  height: $size_BUTTON;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow_1;
  cursor: pointer;
  z-index: $zi1;
}

.menuItemBase {
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  border-radius: $bradius_1;
  z-index: 100;

  > a {
    color: black;
    font-size: 12px;
  }
}
