@import "../../../styles/sizes";
@import "../../../styles/colors";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/shadows";

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px;

  h1 {
    display: flex;
    align-items: center;
  }
}

.post {
  box-shadow: $shadow_1;
  background-color: white;
  max-width: 600px;
  width: 100%;
}

.postSavedActive {
  position: absolute;
  border-radius: $bradius_1;
  z-index: $zi1;
}

.postSavedInactive {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.postNewActive {
  position: absolute;
  border-radius: $bradius_1;
}

.postNewInactive {
  position: fixed;
  border-radius: 50%;
  box-shadow: $shadow_1;
}

.close {
  font-size: 54px;
  z-index: $zi1;

  a {
    display: flex;
  }
}

.postMenu {
  display: flex;
  margin: $size_2 $size_8;
}

.postTags {
  display: flex;
  margin: $size_2 $size_8;
}

.title {
  border: none;
  font-size: 40px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.addNewBtn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    height: 40px;
    width: 40px;
  }
}
