.predictionsContainer {
  position: absolute;
  z-index: 100;
  top: calc(50% + 73px);
  left: calc(50% - 140px);
  width: 280px;
  border-radius: 2px;

  & > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      background-color: white;
      margin-bottom: 4px;
    }
  }
}

.predictionItem {
  background-color: white;
  cursor: pointer;
  margin-top: 4px;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  flex-shrink: 0;
}
