@import "../../../styles/radius";
@import "../../../styles/shadows";
@import "../../../styles/sizes";

.predictionsContainer {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: calc(50% - 140px);
  width: 280px;
  border-radius: $bradius_1;

  & > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      background-color: white;
      margin-bottom: $size_1;
    }
  }
}

.predictionItem {
  background-color: white;
  cursor: pointer;
  margin-top: $size_1;
  font-size: 12px;
  padding: $size_2;
  border-radius: $bradius_1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow_1;
}

.addIcon {
  flex-shrink: 0;
}
