@import "../../styles/sizes";
@import "../../styles/zIndex";
@import "../../styles/radius";
@import "../../styles/colors";

.calendarContainer {
  position: absolute;
}

.sliderContainer {
  z-index: $zi2;
  width: calc(100vw - 40px);
  height: 100%;
  margin: 0 20px;
  border: 1px solid white;
  border-radius: $bradius_1;
  overflow: hidden;
  background-color: rgba(0,0,0,0.15);

  > div {
    cursor: grab;
    height: 100%;
  }
}

.calendarMenuContainer {
  position: absolute;
  display: flex;
  align-items: center;
  right: $size_4;
  bottom: 1px;
  z-index: $zi4;
  height: 50px;
}

.sliderContainer {}

.dragContainer {
  height: 200px;
  border-radius: $bradius_1;
}

