@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/shadows";
@import "../../../styles/sizes";

.eventsMenu {
  position: absolute;
  width: $size_BUTTON;
  height: $size_BUTTON;
  //background-color: salmon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  //box-shadow: $shadow_1;
  cursor: pointer;
  z-index: $zi3;
  //pointer-events: none;
}

.menuItemBase {
  position: absolute;
  background-color: white;
  width: $size_BUTTON;
  height: $size_BUTTON;
  border-radius: 50%;
  z-index: $zi1;
  display: flex;
  align-items: center;
  justify-content: center;
}
