@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/shadows";
@import "../../../styles/sizes";

.eventsMenu {
  position: absolute;
  bottom: 60px;
  right: 10px;
  width: $size_BUTTON;
  height: $size_BUTTON;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow_1;
  cursor: pointer;
  z-index: $zi1;
}
