@import "../../../../../styles/sizes";
@import "../../../../../styles/colors";
@import "../../../../../styles/zIndex";
@import "../../../../../styles/radius";

.timelineDateLabel {
  position: absolute;
  bottom: 17px;
  left: 115px;
}