@import "../../../styles/sizes";
@import "../../../styles/zIndex";
@import "../../../styles/radius";
@import "../../../styles/colors";

.segmentDay {
  opacity: 1;
}

.isAbsolute {
  position: absolute;
}

.segmentLabel {
  position: absolute;
  font-weight: 600;
  //background-color: $color-neutral-40;
  background-color: $color-neutral-0;
  padding: 2px 5px;
  margin: 2px;
  border-radius: $bradius_1;

  > div {
    user-select: none;
  }
}
