@import "../../../styles/sizes";
@import "../../../styles/colors";

.zoomnBtn {
  margin: $size_2;
  cursor: pointer;
}

.zoomnBtnDisabled {
  cursor: default;
  color: $color-disabled;
}

.calendarLabel {
  margin-right: $size_2;

  > div {
    user-select: none;
  }
}
