@import "../../../../../styles/zIndex";
@import "../../../../../styles/radius";
@import "../../../../../styles/shadows";
@import "../../../../../styles/sizes";
@import "../../../../../styles/colors";

.menuItemBase {
  position: absolute;
  background-color: $color-white;
  width: $size_BUTTON;
  height: $size_BUTTON;
  border-radius: 50%;
  z-index: $zi1;
  display: flex;
  align-items: center;
  justify-content: center;
}