@import "../../../styles/colors";
@import "../../../styles/sizes";

.tagPill {
  display: inline-flex;
  background-color: $color_5;
  border-radius: $size_1;
  margin: 1px;
  align-items: center;
  padding: 0 $size_1;

  > p {
    white-space: nowrap;
  }
}
